h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 229, 58);
  text-align: center;
  font-size: 50px;
}

body{
  background-color: rgb(31, 138, 141);
}

.borde-blanco{
  border: 10px solid white;
  
}

.margen-izquierda{
  margin-left: 5px;
}

.margen-derecha{
  margin-right: 5px;
}

.margen-bottom{
  margin-bottom: 5px;;
}

.centrar-bloque{
  text-align: center;
}
